
body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
}
.masthead.segment {
    min-height: 600px;
    padding: 1em 0em;
}
.masthead .ui.header {
    margin-bottom: 0; /* Ensure no extra margin below the header */
}
.masthead-short.segment {
    min-height: 200px; /* Shorter height for non-home pages */
    padding: 1em 0em;
}

.masthead-short .ui.header {
    margin-bottom: 0; /* Maintain consistent header margin */
}
.masthead .profile-image {
    margin: 25px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.ui.vertical.stripe {
    /* padding: 3em 0em; */
}
.download-link {
    margin-top: 20px;
    text-align: center;
}
.download-link a {
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
}
.download-link a:hover {
    text-decoration: underline;
}
.hidden.menu {
    display: none !important;
}
.ui.text.container{
    margin: 25px
}
/* Ensures the entire page takes up at least the full viewport height */
html, body {
    height: 100%;
}

/* The flex container to allow content and footer positioning */
.pusher {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* The main content area should grow and take up available space */
.pusher > .content {
    flex: 1; /* Fills remaining space between header and footer */
}

/* Footer styling */
.ui.inverted.vertical.footer.segment {
    margin-top: auto; /* Pushes footer to the bottom */
}

/* Hamburger Icon */
.hamburger {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2000;
    background: #333;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    display: none; /* Hidden by default */
}

/* Mobile Menu */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    z-index: 1500;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
    transform: translateY(0);
}

.mobile-menu a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #444;
}

.mobile-menu a:hover {
    background: #444;
}

.scaled-image {
    width: 75%; 
    height: auto; 
    border-top: 10px solid #cccccc00;
    border-bottom: 10px solid #cccccc00;
    margin: 20px 0;
}

.ui.cards .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* Responsive styles */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger menu on small screens */
    }

    .fixed-menu,
    .secondary-menu {
        display: none; /* Hide normal menus */
    }
}
